.header{
    background: linear-gradient(180deg, #2a2a2a 30%, #444444 80%);
    color: whitesmoke;
}
header {
    margin-top: 50px;
    font-family: 'Cormorant Unicase', serif;
    background: linear-gradient(180deg, white 20%, red 50%, black 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
}
.common-button {
    font-family: 'Cormorant Unicase', serif;
    background: linear-gradient(180deg, white 20%, red 50%, black 100%);
    border: 3px solid red;
    border-radius: 5px;
    color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-background-clip: text;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.common-button:hover {
    background: linear-gradient(180deg, red 30%, black 40%, darkred 50%);
    border-color: red;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}