.custom-select {
    position: relative;
    width: 200px;
 }

.selected-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;

}

.options-dropdown {
    display: none;


}

.options-dropdown.open {
    display: block;
 }

.option {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

img {
    margin-right: 10px;
    width: 30px;
}

